<header class="pt-6 pb-3 px-6">
    <div class="w-40 flex items-center justify-center">
        <img src="{{provider.logo_url}}" alt="Logo" class="w-full h-full max-w-full max-h-full object-contain">
    </div>
</header>

<article class="p-0 h-full w-full flex flex-col flex-1 relative overflow-auto font-book text-[17px] font-light leading-6">
    <main class="main">
        <div class="main__wrapper">
            <div class="main__heading">
                <h1 class="title">Connect your account</h1>
            </div>
            <p class="pl-0 pr-4 pb-12">
                By submitting your details, you agree to share them with <strong class="font-medium">{{account.display_name}}</strong>. Your data will be securely stored and processed in compliance with GDPR. View the full <a href="{{account.privacy_url}}" class="underline">data protection policy</a>.
            </p>
            <form class="form" id="auth" action="/auth_metadata_capture?fp_cot={{connect_token}}" method="post">
                <fieldset class="fieldset">
                    <div class="text-field">
                        <input id="login-input" class="text-field__input" type="text" name="login" spellcheck="false" autocapitalize="none" placeholder="Login" value="{{demoLogin}}">
                        <label for="login-input" class="text-field__label">Login</label>
                    </div>
                    <div class="text-field">
                        <input id="password-input" class="text-field__input" type="password" autocapitalize="off" spellcheck="false" name="password" placeholder="Password" value="{{demoPassword}}">
                        <label for="password-input" class="text-field__label">Password</label>
                    </div>
                </fieldset>
            </form>
        </div>
    </main>
    <footer class="footer">
        <button id="submitControl" type="submit" form="auth" class="button--primary">
            Login
        </button>
        <form class="footer__disclaimer" name="setup" action="/action?fp_cot={{connect_token}}" method="post">
            <span>
                If you don’t know your login details or don’t want to provide them, you can
                <button class="button--as-link" type="submit">set your tariff manually.</button>
            </span>
            <input type="hidden" name="route" value="auth_metadata_capture">
            <input type="hidden" name="action" value="DISMISS_DIRECT">
        </form>
    </footer>
</article>


<script>
    document.addEventListener("DOMContentLoaded", function() {
        const form = document.getElementById("auth");
        const submitControl = document.getElementById("submitControl");
        form.addEventListener("submit", function(event) {
            submitControl.classList.add("animate-fade")
            submitControl.setAttribute("disabled", "disabled");
        });
    });
</script>
