<div class="theme-failure flex flex-1 flex-col">
{{#if route}}
    <form id="close" action="/action?fp_cot={{connect_token}}" method="post" style="display: none">
        <input type="hidden" name="route" value="{{route}}">
        <input type="hidden" name="action" value="DISMISS_DIRECT">
    </form>
{{/if}}
<form id="back" action="/" method="post" style="display: none"></form>

<aside class="nav-controls">
    {{#if route}}
    <button type="submit" form="back" class="button--icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 32 32" fill="none"><circle cx="16" cy="16" r="16" fill="#F5F5F5"></circle><path fill="var(--color-icon-primary100)" d="M9.47 15.47a.75.75 0 0 0 0 1.06l4.773 4.773a.75.75 0 0 0 1.06-1.06L11.061 16l4.242-4.243a.75.75 0 0 0-1.06-1.06L9.47 15.47Zm.53 1.28h12v-1.5H10v1.5Z"></path></svg>
    </button>
    <button type="submit" form="close" class="button--icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 32 32" fill="none"><circle cx="16" cy="16" r="16" fill="#F5F5F5"></circle><path stroke="var(--color-icon-primary100)" stroke-width="1.5" d="m12 20 8-8M20 20l-8-8"></path></svg>
    </button>
   {{else}}
    <button type="submit" form="back" class="button--icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 32 32" fill="none"><circle cx="16" cy="16" r="16" fill="#F5F5F5"></circle><path fill="var(--color-icon-primary100)" d="M9.47 15.47a.75.75 0 0 0 0 1.06l4.773 4.773a.75.75 0 0 0 1.06-1.06L11.061 16l4.242-4.243a.75.75 0 0 0-1.06-1.06L9.47 15.47Zm.53 1.28h12v-1.5H10v1.5Z"></path></svg>
    </button>
    <button type="submit" form="close" class="button--icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 32 32" fill="none"><circle cx="16" cy="16" r="16" fill="#F5F5F5"></circle><path stroke="var(--color-icon-primary100)" stroke-width="1.5" d="m12 20 8-8M20 20l-8-8"></path></svg>
    </button>
   {{/if}}
</aside>
    <article class="p-0 h-full w-full flex flex-col flex-1 relative overflow-auto font-book text-[17px] font-light leading-6">
        <main class="main">
            <div class="main__wrapper">
                <div class="main__heading">
                    <h1 class="title">{{labels.error_title}}</h1>
                </div>
                <div class="pl-0 pr-4 pb-12 max-w-xs lg:max-w-xs space-y-4 text-gray">
                    <p><strong class="font-medium">{{{interpolate labels.error_token_label connect_token=connect_token}}}</strong></p>
                    {{#if error}}<p><strong class="font-medium">{{{error}}}</strong></p>{{/if}}
                    <p>{{labels.error_message}}</p>
                    <p>{{labels.error_instructions}}</p>
                </div>
            </div>
        </main>
        <footer class="footer">
            <button type="submit" form="back" class="button--failure">{{labels.try_again_button}}</button>
        </footer>
    </article>
</div>

<script>
    document.querySelector('form#back').addEventListener('submit', (e) => {
        e.preventDefault();
        e.stopPropagation();
        history.back();
    });
</script>
