<header class="pt-6 pb-3 px-6">
    <div class="w-40 flex items-center justify-center">
        {{#if provider.logo_url}}<img src="{{provider.logo_url}}" alt="Logo" class="w-full h-full max-w-full max-h-full object-contain">{{/if}}
    </div>
</header>
<article class="p-0 h-full w-full flex flex-col flex-1 relative overflow-auto font-book text-[17px] font-light leading-6">
    <main class="main">
        <div class="main__wrapper">
            <div class="main__heading">
                <h1 class="title">{{labels.login_error_title}}</h1>
            </div>
            <p class="pl-0 pr-4 pb-12 max-w-xs lg:max-w-xs">
                {{labels.login_error_description}}
            </p>
        </div>
    </main>

    <footer class="footer">
        <a href="/?fp_cot={{connect_token}}" class="button--primary">{{labels.try_again_button}}</a>
        <button class="button--ghost" type="submit" form="dismissDirect">{{labels.set_tariff_manually_button}}</button>
    </footer>
</article>

